.24_15 { 
	overflow:hidden;
}
.e24_15 { 
	background-color:rgba(45.00000111758709, 40.00000141561031, 62.00000010430813, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e24_24 { 
	transform: rotate(6.6848025203880965deg);
	background-color:rgba(86.00000247359276, 79.00000289082527, 111.00000098347664, 1);
	width:2061.2978515625px;
	height:4261.64501953125px;
	position:absolute;
	left:1276.086669921875px;
	top:-2811px;
}
.e24_16 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:560px;
	height:420px;
	position:absolute;
	left:786px;
	top:200px;
}
.e24_23 { 
	width:232px;
	height:75px;
	position:absolute;
	left:950px;
	top:644px;
}
.e24_21 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:232px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
}
.e24_22 { 
	color:rgba(0, 0, 0, 1);
	width:177.3142852783203px;
	height:30.582523345947266px;
	position:absolute;
	left:27.3427734375px;
	top:22.572830200195312px;
	font-family:Raleway;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}
.e24_17 { 
	color:rgba(209.00000274181366, 215.0000023841858, 224.000001847744, 1);
	width:458px;
	height:75px;
	position:absolute;
	left:490px;
	top:66px;
	font-family:Raleway;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}
.e24_19 { 
	color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:550px;
	height:462px;
	position:absolute;
	left:117px;
	top:200px;
	font-family:Raleway;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e24_25 { 
	width:88px;
	height:88px;
	position:absolute;
	left:117px;
	top:682px;
}
.e24_26 { 
	border-radius:500px;
	background-color:rgba(144.00000661611557, 144.00000661611557, 163.00000548362732, 1);
	width:88px;
	height:88px;
	position:absolute;
	left:0px;
	top:0px;
}
.e24_27 { 
	transform: rotate(-180deg);
	width:1px;
	height:0px;
	position:absolute;
	left:27px;
	top:44px;
}
.24_27 { 
	border:7px solid rgba(45.00000111758709, 40.00000141561031, 62.00000010430813, 1);
}
